<section
  class="bg-beige/80 flex flex-col md:flex-row text-cocoa py-6 px-4 md:px-10 md:py-6 lg:p-20 2xl:p-24 md:space-x-24 2xl:rounded-3xl"
>
  <div class="basis-1/2 space-y-10">
    <h1 class="font-bold text-3xl tracking-tight text-center md:text-left">A
      Journey Through the World of Chocolate</h1>
    <p class="antialiased tracking-wide leading-relaxed text-lg">
      <span>The Chocolate Museum, established in 1923, is a celebration of the
        rich heritage and artistry of chocolate-making. It stands as one of the
        premier institutions dedicated to the history and craft of chocolate in
        Sweden.</span>
      <br />
      <br />
      <span>With decades of expertise passed down through generations, the
        museum showcases the intricate process and passion that goes into
        creating exceptional chocolate. At the Chocolate Museum, you’ll discover
        how the finest ingredients and time-honored techniques have earned us a
        place of distinction among chocolate enthusiasts worldwide.</span>
    </p>
  </div>
  <div class="basis-1/2 space-y-10">
    <p class="antialiased tracking-wide leading-relaxed text-lg">
      <span>The Chocolate Museum, established in 1923, is a celebration of the
        rich heritage and artistry of chocolate-making. It stands as one of the
        premier institutions dedicated to the history and craft of chocolate in
        Sweden.</span>
      <br />
      <br />
      <span>With decades of expertise passed down through generations, the
        museum showcases the intricate process and passion that goes into
        creating exceptional chocolate. At the Chocolate Museum, you’ll discover
        how the finest ingredients and time-honored techniques have earned us a
        place of distinction among chocolate enthusiasts worldwide.</span>
    </p>
    <blockquote
      class="text-xl italic font-semibold text-cocoa pl-6 border-l-4 border-caramel"
    >
      "Chocolate is more than just a treat; it’s a journey of the senses, a
      celebration of heritage, and a labor of love."
      <span class="block text-lg font-medium text-caramel mt-2">– A True
        Chocoholic</span>
    </blockquote>
  </div>
</section>