<section
  class="bg-beige/80 py-6 px-4 md:px-10 md:py-6 lg:p-20 2xl:p-24 2xl:rounded-3xl space-y-8 text-cocoa flex flex-col md:flex-row md:space-x-10 lg:space-x-24"
>
  <div class="basis-1/2 space-y-5">
    <div class="space-y-10">
      <h1 class="font-bold text-3xl tracking-tight text-center md:text-left">Get
        in Touch with the Chocolate Museum</h1>
      <p class="antialiased tracking-wide leading-relaxed text-lg">
        We’d love to hear from you! Whether it’s a question, feedback, or a
        shared passion for chocolate, reach out to us here or visit our museum
        in Sweden.
      </p>
    </div>

    <!-- Google Maps location -->
    <div class="w-full h-80">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1304823.1826690395!2d15.577544540847196!3d60.12816100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f58f7df6e8297%3A0x7a73c3ab9c1e83b1!2sSweden!5e0!3m2!1sen!2sus!4v1617751223834!5m2!1sen!2sus"
        width="100%"
        height="100%"
        allowfullscreen=""
        aria-hidden="false"
        referrerpolicy="no-referrer-when-downgrade"
        tabindex="-1"
        class="rounded-lg"
      ></iframe>
    </div>
  </div>

  <!-- Contact Form -->
  <form
    action="/contact"
    method="POST"
    id="contact_form"
    class="space-y-4 bg-white p-6 border border-gray-300 rounded-lg shadow-md max-w-md w-full h-fit"
  >
    <h1 class="text-3xl font-serif text-cocoa mb-4 text-center">Contact Us</h1>

    {{#if message}}
      <div
        class="bg-beige border border-gray-300 text-mocha px-4 py-3 rounded-lg relative"
      >
        <strong class="font-bold">Success:</strong>
        <span>{{message}}</span>
      </div>
    {{/if}}

    <fieldset>
      <div class="space-y-4">
        <label class="block font-semibold text-mocha">
          Your Name:
          <input
            type="text"
            name="name"
            placeholder="Your Name"
            required
            class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
          />
        </label>
        <label class="block font-semibold text-mocha">
          Your Email:
          <input
            type="email"
            name="email"
            placeholder="Your Email"
            required
            class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
          />
        </label>
        <label class="block font-semibold text-mocha">
          Your Message:
          <textarea
            name="message"
            placeholder="Your Message"
            rows="4"
            required
            class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
          ></textarea>
        </label>
      </div>
    </fieldset>

    <button
      type="submit"
      class="w-full bg-mocha text-white font-bold py-2 rounded-lg hover:bg-wine focus:outline-none focus:bg-wine transition-colors"
    >
      Send Message
    </button>
  </form>
</section>