<section
  class="bg-beige/80 px-10 py-8 rounded-3xl space-y-8 text-cocoa flex space-x-24"
>
  <div class="basis-1/2 space-y-5">
    <div class="space-y-10">
      <h1 class="font-bold text-3xl tracking-tight">Get in Touch with the
        Chocolate Museum</h1>
      <p class="antialiased tracking-wide leading-relaxed text-lg">
        We’d love to hear from you! Whether it’s a question, feedback, or a
        shared passion for chocolate, reach out to us here or visit our museum
        in Sweden.
      </p>
    </div>

    <div class="w-full h-80">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1304823.1826690395!2d15.577544540847196!3d60.12816100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f58f7df6e8297%3A0x7a73c3ab9c1e83b1!2sSweden!5e0!3m2!1sen!2sus!4v1617751223834!5m2!1sen!2sus"
        width="100%"
        height="100%"
        allowfullscreen=""
        aria-hidden="false"
        referrerpolicy="no-referrer-when-downgrade"
        tabindex="-1"
        class="rounded-lg"
      ></iframe>
    </div>
  </div>

  <form
    action="/contact"
    method="POST"
    id="contact_login"
    class="space-y-4 bg-white p-6 border border-gray-300 rounded-lg shadow-lg basis-1/2"
  >
    {{#if error}}
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert"
      >
        <strong class="font-bold">Error:</strong>
        <span class="block sm:inline">{{error}}</span>
      </div>
    {{/if}}

    {{#if message}}
      <div
        class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
        role="alert"
      >
        <strong class="font-bold">Success:</strong>
        <span class="block sm:inline">{{message}}</span>
      </div>
    {{/if}}
    <div>
      <label for="name" class="block text-lg font-medium">Your Name</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
      />
    </div>

    <div>
      <label for="email" class="block text-lg font-medium">Your Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
      />
    </div>

    <div>
      <label for="message" class="block text-lg font-medium">Your Message</label>
      <textarea
        id="message"
        name="message"
        rows="4"
        required
        class="w-full p-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
      ></textarea>
    </div>

    <button
      type="submit"
      class="w-full bg-mocha text-white font-bold py-2 rounded-lg hover:bg-wine focus:outline-none focus:bg-wine transition-colors"
    >Send Message</button>
  </form>
</section>