<section
  class="bg-beige/80 flex flex-col lg:flex-row text-cocoa py-6 px-4 md:px-10 md:py-6 lg:p-20 2xl:p-24 lg:space-x-24 2xl:rounded-3xl"
>

  <div class="lg:basis-1/2 space-y-6">
    <h1
      class="font-bold text-3xl tracking-tight text-center md:text-left"
    >Welcome to the Chocolate Museum!</h1>
    <p class="antialiased tracking-wide leading-relaxed text-lg">
      <span>The Chocolate Museum, established in 1923, is a celebration of the
        rich heritage and artistry of chocolate-making. It stands as one of the
        premier institutions dedicated to the history and craft of chocolate in
        Sweden.</span>
      <br />
      <br />
      <span>With decades of expertise passed down through generations, the
        museum showcases the intricate process and passion that goes into
        creating exceptional chocolate. At the Chocolate Museum, you’ll discover
        how the finest ingredients and time-honored techniques have earned us a
        place of distinction among chocolate enthusiasts worldwide.</span>
    </p>
  </div>

  <div
    class="relative lg:basis-1/2 h-full w-full md:h-96 md:w-full order-first lg:order-last mb-4"
  >
    <img
      src="/img/chocolate-drop.webp"
      alt="Chocolate Museum house"
      class="h-full w-full object-cover"
    />
    <div class="absolute inset-0 bg-wine opacity-45"></div>
  </div>

</section>