<section class="flex items-center justify-center">
  <div
    class="bg-white border border-gray-300 shadow-xl rounded-lg p-8 max-w-md w-full"
  >
    <h1 class="text-3xl font-serif text-cocoa mb-6 text-center">Register</h1>
    <form action="/register" method="POST" id="form_register" class="space-y-4">
      <fieldset>
        <div class="space-y-4">
          <label class="block font-semibold text-mocha">
            First Name:
            <input
              type="text"
              name="firstname"
              placeholder="First Name"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
              required
            />
          </label>
          <label class="block font-semibold text-mocha">
            Last Name:
            <input
              type="text"
              name="lastname"
              placeholder="Last Name"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
              required
            />
          </label>
          <label class="block font-semibold text-mocha">
            Username:
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
              required
            />
          </label>
          <label class="block font-semibold text-mocha">
            Password:
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-caramel"
              required
            />
          </label>
        </div>
      </fieldset>
      <button
        type="submit"
        class="w-full bg-mocha text-white font-bold py-2 rounded-lg hover:bg-wine focus:outline-none transition-colors"
      >
        Register
      </button>
    </form>
    {{#if error}}
      <div
        class="mt-4 bg-wine text-white text-center px-4 py-2 rounded-lg flex items-center justify-center"
        role="alert"
      >
        <svg class="h-6 w-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M9 3a1 1 0 012 0v7a1 1 0 11-2 0V3zM9 13a1 1 0 011-1h.01a1 1 0 01.99 1v.01a1 1 0 01-.99 1H10a1 1 0 01-1-1V13z"
          />
        </svg>
        <span>{{error}}</span>
      </div>
    {{/if}}
  </div>
</section>