<header
  class="flex items-center justify-between px-10 py-6 bg-transparent text-mocha border-b shadow-md shadow-mocha/25"
>
  <!-- Navigation -->
  <nav class="flex space-x-8 font-serif font-medium">
    <a
      href="/chocolates"
      class="hover:text-caramel transition-colors rounded-full focus:outline-none focus:text-caramel"
    >Chocolates</a>
    <a
      href="/about"
      class="hover:text-caramel transition-colors rounded-full focus:outline-none focus:text-caramel"
    >About</a>
    <a
      href="/contact"
      class="hover:text-caramel transition-colors rounded-full focus:outline-none focus:text-caramel"
    >Contact</a>
    {{#if session.isLoggedIn}}
      <a
        href="/users"
        class="hover:text-caramel transition-colors rounded-full focus:outline-none focus:text-caramel"
      >Users</a>
    {{/if}}
  </nav>

  <!-- Logo -->
  <div class="flex-1 text-center">
    <a
      href="/"
      class="text-4xl font-pacifico text-mocha hover:text-caramel rounded-full focus:outline-none focus:text-caramel transition-colors"
    >
      Chocolate Museum
    </a>
  </div>

  <!-- Login and Logout -->
  <div class="flex items-center space-x-10">
    {{#if session.isLoggedIn}}
      <!-- Logout Button with Welcome Text -->
      <span class="flex items-center space-x-6 font-serif font-medium">
        <span>Welcome, {{session.name}}</span>
        <a
          href="/logout"
          class="text-mocha hover:text-caramel focus:outline-none focus:text-caramel transition-colors rounded-full flex items-center space-x-2"
        >
          <i class="fas fa-sign-out-alt h-6 w-6"></i>
          <span>Logout</span>
        </a>
      </span>
    {{else}}
      <!-- Login Button with Icon -->
      <a
        href="/login"
        aria-label="Login"
        class="hover:text-caramel rounded-full focus:outline-none transition-colors focus:text-caramel flex items-center space-x-2"
      >
        <i class="fas fa-user h-7 w-7"></i>
        <span class="font-serif font-medium">Login</span>
      </a>

      <!-- Register Button with Icon -->
      <a
        href="/register"
        aria-label="Register"
        class="hover:text-caramel rounded-full focus:outline-none focus:text-caramel transition-colors flex items-center space-x-2"
      >
        <i class="fas fa-user-plus h-6 w-6"></i>
        <span class="font-serif font-medium">Register</span>
      </a>
    {{/if}}
  </div>
</header>